# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

nohup.out
# For mac
.DS_Store
data/*

# iOS App
Demo/Pods/*
Demo/Demo.xcodeproj/xcuserdata/
Demo/Demo.xcworkspace/xcuserdata/
.vscode/settings.json
android/.idea/
android/.gradle/
android/*.iml
android/**/*.iml
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
android/sdk/build/
